@using ExamForms.ViewModel.Account;
@model ApplicationUserViewModel

@{
    var i = 1;
}

<div class="">
    <button id="btnDelete" class="btn btn-sm btn-danger">Delete</button>
    <button id="btnBlock" class="btn btn-sm btn-warning">Block</button>
    <button id="btnUnblock" class="btn btn-sm btn-success">Unblock</button>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="headerCheckBox">
                </th>
                <th>SL</th>
                <th>Name</th>
                <th>User Name</th>
                <th>E-mail</th>
                <th>Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.ApplicationUsers)
            {
                var lockOut = (@user.LockoutEnd.HasValue) ? "Blocked" : "Unblocked";
                <tr>
                    <td class="text-center">
                        <input class="form-check-input bodyCheckBox" type="checkbox" value="@user.Id">
                    </td>
                    <td class="text-center">@i</td>
                    <td>@Html.DisplayFor(x => user.FirstName) @Html.DisplayFor(x => user.LastName)</td>
                    <td>@Html.DisplayFor(x => user.UserName)</td>
                    <td>@Html.DisplayFor(x => user.Email)</td>
                    <td class="">@lockOut</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-info text-white">Info</a>
                        <a class="btn btn-sm btn-secondary"
                           href="@Url.Action("EditUser", "Administration", new { area = "Accounts", id = user.Id })">Edit</a>
                    </td>
                </tr>
                i++;
            }
        <tbody>
    </table>
</div>