@model IEnumerable<ExamForms.ViewModel.TemplateViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-4">
    <!-- Gallery of Latest Templates -->
    <h2 class="mb-4 text-center">Latest Templates</h2>
    <div class="row">
        <!-- Template Card -->
        @foreach (var template in Model.Take(4))
        {
            if (template != null && !string.IsNullOrEmpty(template.Title) && !string.IsNullOrEmpty(template.Image))
            {
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm h-100">
                        <img src="@template.Image" class="card-img-top template-img" alt="Template Image">
                        <div class="card-body">
                            <h5 class="card-title">@template.Title</h5>
                            @Html.Raw(@template.Description)
                            <p class="card-text"><small class="text-muted">Author: @template.CreatedBy</small></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <!-- Table of Top 5 Popular Templates -->
    <h2 class="my-4 text-center">Top 5 Most Popular Templates</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Template Name</th>
                    <th>Author</th>
                    <th>Number of Filled Forms</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var templates in Model)
                {
                    if (templates != null && !string.IsNullOrEmpty(templates.Title))
                    {
                        <tr>
                            <th scope="row">@templates.TemplateId</th>
                            <td>@templates.Title</td>
                            <td>@templates.CreatedBy</td>
                            <td>100</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Tag Cloud -->
    <h2 class="my-4 text-center">Tag Cloud</h2>
    <div class="text-center">
        <div class="tag-cloud">
            <a href="search-results.html?tag=quiz" class="badge bg-primary m-2 p-2">Quiz</a>
            <a href="search-results.html?tag=form" class="badge bg-secondary m-2 p-2">Form</a>
            <a href="search-results.html?tag=survey" class="badge bg-success m-2 p-2">Survey</a>
            <a href="search-results.html?tag=poll" class="badge bg-danger m-2 p-2">Poll</a>
            <a href="search-results.html?tag=test" class="badge bg-warning m-2 p-2">Test</a>
        </div>
    </div>
</div>
