@using ExamForms.Constants
@using static ExamForms.Constants.Enums
@model List<ExamForms.ViewModel.QuestionViewModel>

<style>
    #questionListSortable {
        list-style-type: none;
        border: 1px solid #c7c7c7;
        padding: 0 10px;
        border-radius: 5px;
        margin: 10px 0;
    }

    #questionListSortable li {
            padding: 10px;
            border-bottom: 1px solid #c7c7c7;
        }
</style>

<ul id="questionListSortable">
    <li class="ui-state-default ui-sortable-handle d-flex">
        <p style="width: 65%; margin: 0;"># Question Title</p>
        <p style="width: 15%; margin: 0;">Question Type</p>
        <p style="width: 10%; margin: 0;" class="text-center">Is Displayed</p>
        <p style="width: 10%; margin: 0; text-align: end;">Actions</p>
    </li>
    <li class="ui-state-default ui-sortable-handle d-flex">
        <p style="width: 65%; margin: 0;"><i class='bx bx-menu me-2'></i>How are you?</p>
        <p style="width: 15%; margin: 0;">Multiline Question</p>
        <div style="width: 10%; text-align: center;">
            <input type="checkbox" checked class="form-check-input" />
        </div>
        <div style="width: 10%">
            <div class="float-end">
                <button class="btn btn-sm btn-secondary" id="editTemplateQuestionBtn"><i class='bx bx-edit'></i></button>
                <button class="btn btn-sm btn-danger" id="deleteTemplateQuestionBtn"><i class='bx bx-trash'></i></button>
            </div>
        </div>
    </li>
    @* @foreach (var data in Model)
    {
    <li class="ui-state-default ui-sortable-handle" data-question-id="@data.QuestionId" data-template-id="@data.TemplateId">
    <i class='bx bx-menu me-2'></i>
    @data.QuestionTitle
    @data.QuestionType
    @data.IsDisplayed
    <div class="float-end">
    <button class="btn btn-sm btn-secondary" id="editTemplateQuestionBtn"><i class='bx bx-edit'></i></button>
    <button class="btn btn-sm btn-danger" id="deleteTemplateQuestionBtn"><i class='bx bx-trash'></i></button>
    </div>
    </li>
    } *@
</ul>
